*.elc
/backups/
/undo/
bin/*.exe
bin/*.dll
/auto-save-list
/.session
/ac-comphist.dat
/session.*

packages/auto-complete/*
!packages/auto-complete/auto-complete-master.zip
!packages/auto-complete/mydict

packages/yasnippet/yasnippet-snippets-master/*
!packages/yasnippet/yasnippet-snippets-master/prog-mode
packages/yasnippet/yasnippet-snippets-master/prog-mode/*
!packages/yasnippet/yasnippet-snippets-master/prog-mode/timestamp
!packages/yasnippet/yasnippet-snippets-master/python-mode
packages/yasnippet/yasnippet-snippets-master/python-mode/*
!packages/yasnippet/yasnippet-snippets-master/python-mode/pathset

packages/expand-region/*
!packages/expand-region/expand-region.el-master.zip

packages/helm/helm-master/*
packages/helm/emacs-async-master/*

packages/multiple-cursors/*
!packages/multiple-cursors/multiple-cursors.el-master.zip

packages/neotree/*
!packages/neotree/emacs-neotree-dev.zip

packages/smartparens/*
!packages/smartparens/smartparens-master.zip
smex-items
packages/swiper/swiper-master
packages/company-mode/*
recentf
packages/magit/magit-master/
transient/*
/eshell/*
/eln-cache/*
/tramp
/packages/easy-kill/*
/projectile.cache
/projectile-bookmarks.eld
/packages/projectile/*.el
/TAGS
/bookmarks
/packages/use-package/*
!/packages/use-package/use-package-master.zip
/.cache/
/.recentf
/.savehist
/.saveplace
packages/tree-sitter/core/*
!packages/tree-sitter/core/DYN-VERSION
packages/tree-sitter/langs/*
!packages/tree-sitter/langs/tree-sitter-langs-master.zip
packages/tree-sitter/lisp/*
/.lsp-session*
/packages/treemacs/icons/*
/packages/treemacs/src/*
/.dap-breakpoints
/packages/lsp/dap-mode-master/*
/packages/lsp/lsp-mode-master/*
/packages/lsp/bui.el-master/*
/packages/lsp/lsp-treemacs-master/*
/.extension/
/themes/themes-master/*
/eaf/
/themes/all-the-icons.el-master/*
/image-dired/.image-dired_db
/themes/doom-modeline-master/
/packages/lsp/lsp-pyright-master/
/themes/nyan-mode-master/
/undo-fu-session/
/themes/diff-hl-master/
/url/
/packages/org/emacs-maple-preview-master/
/projects
/.org-id-locations
/org-roam.db
/packages/org/emacsql-master/
/packages/org/org-roam/
packages/minibuffer/snails-master/*
packages/minibuffer/consult-main/*
packages/minibuffer/compat.el-master/*
/packages/minibuffer/vertico-main/
/packages/minibuffer/embark-master/
/packages/corfu/corfu-main/*
/packages/lsp/lsp-bridge-master/
/packages/corfu/cape-main/
/strokes
/.tags/
/packages/citre/citre-master
/packages/tools/elfeed-master/
/dired-history
/packages/dired/dired-hacks-master/
/packages/projectile/rg.el-master/
/packages/tree-sitter/evil-textobj-tree-sitter-master/
/org-persist/
/packages/minibuffer/compat-master/
/packages/minibuffer/compat-main/
/packages/org/org-roam-main/
/themes/emacs-dashboard-master/
/packages/cycle-at-point/
/elisp-autofmt-cache/
