*.elc
.*
/src

!.gitignore

!/bin
!/etc
!/packages
!/settings
!/themes

/bin/*.exe
/bin/*.dll

/packages/auto-complete/*
!/packages/auto-complete/auto-complete-master.zip
!/packages/auto-complete/mydict
/packages/yasnippet/snippets/*
/packages/expand-region/*
!/packages/expand-region/expand-region.el-master.zip
/packages/helm/*
!/packages/helm/helm.7z
/packages/multiple-cursors/*
!/packages/multiple-cursors/multiple-cursors.el-master.zip
/packages/yasnippet/yasnippet-snippets-master/*
/packages/neotree/*
/packages/smartparens/*
