*.elc
/backups/
/undo/
bin/*.exe
bin/*.dll
/auto-save-list
/.session
/ac-comphist.dat
/session.*

packages/auto-complete/*
!packages/auto-complete/auto-complete-master.zip
!packages/auto-complete/mydict

packages/yasnippet/yasnippet-snippets-master/*
!packages/yasnippet/yasnippet-snippets-master/prog-mode
packages/yasnippet/yasnippet-snippets-master/prog-mode/*
!packages/yasnippet/yasnippet-snippets-master/prog-mode/timestamp
!packages/yasnippet/yasnippet-snippets-master/python-mode
packages/yasnippet/yasnippet-snippets-master/python-mode/*
!packages/yasnippet/yasnippet-snippets-master/python-mode/pathset

packages/expand-region/*
!packages/expand-region/expand-region.el-master.zip

packages/helm/*
!packages/helm/helm.7z

packages/multiple-cursors/*
!packages/multiple-cursors/multiple-cursors.el-master.zip

packages/neotree/*
!packages/neotree/emacs-neotree-dev.zip

packages/smartparens/*
!packages/smartparens/smartparens-master.zip
smex-items
packages/swiper/*
packages/company-mode/*
recentf
packages/magit/*
transient/*
/eshell/*
/eln-cache/*
/tramp
/packages/easy-kill/*
/projectile.cache
/projectile-bookmarks.eld
/packages/projectile/*.el
/TAGS
/bookmarks
/packages/use-package/*
!/packages/use-package/use-package-master.zip
/.cache/
/.recentf
/.savehist
/.saveplace
/packages/dired/dired-*.el
packages/tree-sitter/core/*
!packages/tree-sitter/core/DYN-VERSION
packages/tree-sitter/langs/*
!packages/tree-sitter/langs/tree-sitter-langs-master.zip
packages/tree-sitter/lisp/*
/.lsp-session*
/packages/treemacs/icons/*
/packages/treemacs/src/*
/.dap-breakpoints
/packages/lsp/dap-mode-master/*
/packages/lsp/lsp-mode-master/*
/packages/lsp/eglot.el
/packages/lsp/bui.el-master/*
/packages/lsp/lsp-treemacs-master/*
/.extension/
/themes/themes-master/*
/eaf/
/themes/all-the-icons.el-master/*
/image-dired/.image-dired_db
/themes/doom-modeline-master/
/packages/lsp/lsp-pyright-master/
/themes/nyan-mode-master/
/undo-fu-session/
